beautifulsoup4
bokeh
bottleneck
cartopy
coverage
coveralls
cython
dill
folium
jupyterlab
nodejs
numexpr
missingno
osmnx
pandana
pillow
pip
psycopg2
pysal
pytest
python == 3.7.*
rasterio
seaborn
scikit-learn
scipy
shap
sphinx
statsmodels
twine
urbanaccess
xlrd
xlwt